block content
  .container.services
    .title
      h2 Conheça
      h1.bold Nossos Serviços
    hr.line
    .row.align-items-center
      for service in services   
        .col-4
          .cardbox
            a(href="/services/" + service.url) 
              img.cardbox-image(src=service.image, alt="Foto de " + service.name)
              .cardbox-content
                h2.cardbox-title #{service.name}
                p.cardbox-text #{service.description}
