extends layouts/layout/index

block head 
  link(rel="stylesheet", href="/css/pages/message.css")

block content
  .container.message-content
    h1.message-title #{title}
    h2.message #{text}
    a.btn.btn-primary(href=url || "/") Voltar
