.info
  .container.reach-us
    a.call-us(href="tel:5512997553884") 
      span.icon-text 
        span.icon
          i.fas.fa-blender-phone.fa-2x
        span.space
          h2 Ligue Grátis 
            h1.bold +55 (12) 99755-3884
    a(href="/") 
      img(src="/img/logo.png", alt="Logo")
    .actions
      a(href="https://api.whatsapp.com/send?phone=5512997553884&text=Olá") 
        span.icon-text 
          span.icon 
            i.fas.fa-headset.fa-2x
          span.space
            h2 Fale com nosso
              h1.bold atendimento
      a(href="#orcamento") 
        span.icon-text 
          span.icon 
            i.fas.fa-comments-dollar.fa-2x
          span.space
            h2 Solicite um
              h1.bold Orçamento
