footer
  nav.container.level
    .level-left
      .level-item
        |  © 2021 - Copyright Vale Desentupidora - Todos os Direitos Reservados 
    .level-right
      .level-item
        a(href="/dev#title" target="_blank") 
          | By KuryKat 
