nav.navbar.navbar-expand-lg.fixed-top
  .container-fluid
    .navbar-brand
      .phone
        a(href="tel:" + number.clean) 
          span.icon-text 
            span.icon 
              i.fas.fa-phone-alt
            span #{number.formated}
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbar-menu' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.icon 
        i.fas.fa-bars
    #navbar-menu.collapse.navbar-collapse
      .navbar-nav.flex-fill.justify-content-center
        #navbar-mid 
          a.nav-link.navbar-on(href="/") Início
          a.nav-link.navbar-on(href="/sobre") Conheça a Vale
          a.nav-link.navbar-on(href="/atendimento") Atendimento 24 Horas
          a.nav-link.navbar-on(href="/services") Nossos Serviços
          a.nav-link.navbar-on(href="/fale-conosco") Fale Conosco
